@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Playfair+Display:ital,wght@0,700;1,600;1,700&family=Roboto+Mono:wght@300;400&display=swap");

h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
}

p,
a {
  font-family: "Roboto Mono", monospace;
}


.site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 1.5s;
}



nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 1.5s;
  position: relative;
  z-index: 1;
}

nav ul {
  height: 45px;
  /* max-width: 60vw; */
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  font-size: .9rem;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

nav a:hover {
  color: lightgray;
}


nav .location {
  opacity: 0;
  transition: all 0.5s;
  will-change: opacity;
  display: none;
}

nav .code {
  min-width: 35px;
}

nav .card {
  background: none;
}

nav .card-text {
  color: white;
}

nav .voyage {
  font-size: 2rem;
}



li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  left: 0;
  height: inherit;
}


li.logo a {
  color: black;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.fixed-nav li.logo {
  max-width: 500px;
}


.fixed-nav .site-wrap {
  transform: scale(1);
  transition: all 1.5s;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.05);
  transition: all 1.5s;
}

.dropdown .img {
  width: 17vw;
  /* max-width: 20vw; */
  padding: 0.25rem;
  height: 200px;
}

.dropdown {
  opacity: 0;
  position: absolute;
  padding: 20px;
  top: 45px;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background: black;
  height: fit-content;
  width: 95vw;
  margin: 0 auto;
  left: 20px;
  right: 20px;
  transition: all 0.5s;
  will-change: opacity;
  /* transform: translateY(100px); */
  display: none;
}

.dropdown .card {
  margin: 0 20px;
}

.dropdown .card-body {
  color: black;
  text-align: center;
}

.dropdown li {
  border-bottom: .1px solid rgba(200, 200, 200, 0.2)
}

.trigger-enter {
  display: block !important;
}

.trigger-enter-active {
  opacity: 1 !important;
}
  